<cs-header>
    <p levels>cars</p>

    <div content>
      <p>List of cars in service</p>
    </div>
  </cs-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length > 0; else noCarsIfno" class="cs-table table table-striped">
        <thead>
          <th>car</th>
          <th>plate</th>
          <th>delivery date</th>
          <th>deadline</th>
          <th>client</th>
          <th>cost</th>
          <th>action</th>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars; let i = index">
            <td [ngClass]="{'row-error': car.isFullyDamaged}">{{ car?.model }}</td>
            <td>{{ car?.plate }}</td>
            <td>{{ car?.deliveryDate }}</td>
            <td>{{ car?.deadline }}</td>
            <td>{{ car?.clientFirstName }} {{ car.clientSurname }}</td>
            <td>{{ car?.cost }}</td>
            <td>ACTION PLACEHOLDER</td>
        </tr>
        </tbody>
      </table>
      <ng-template #noCarsIfno>
        <div class="no-cars-info">
          <p>Currently no cars in service</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <button  (click)="showGross()"  class="btn btn-primary btn-sm float-right">
            Show Gross (Brutto)
        </button>
    </div>
  </div>

  <!-- [this is input from total-cost.component] (this is Output from total-cost.component) -->
  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShowGross($event)" ></cs-total-cost>

  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">COST BRUTTO: {{ grossCost }} PLN</p>
      </div>
    </div>
  </div>
</div>
